@import "tailwindcss";

@theme {
    --color-primary: #000000;
    --color-primary-2: #0F0F0F;
    --color-secondary: #1A1A1A;
    --color-decorative: #6366F1;
    --color-decorative-light: #9c9dff;
    --color-light: #FFFFFF;
    --color-light-2: #F9FAFB;
    --color-border-dark: #2A2A2A;
    --color-border-light: #E2E8F0;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));