@import "tailwindcss";


@theme {
    --color-primary: #000000;
    --color-secondary: #1A1A1A;
    --color-decorative: #6366F1;
    --color-light: #FFFFFF;
    --color-border-dark: #2A2A2A;
    --color-border-light: #E2E8F0;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));